body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    .wrapper{
        width: 1200px;
        height: 100vh;
        margin: 20px auto;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        .box-1{
            width: 25%;
            border: 1px solid black;
        }
        .box-2{
            width: 40%;
            border: 1px solid black;
        }
        .box-3{
            width: 25%;
            border: 1px solid black;
        }
    }
}